{% extends 'core/base.html' %}

{% block title %}Appointments{% endblock %}

{% block content %}
	<div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Appointments</h3>
              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
              </div>
            </div>

            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>name</th>
                    <th>email</th>
                    <th>address</th>
                    <th>phone</th><!--
                    <th>qualification</th>
                    <th>ielts</th>
                    <th>toefl</th>
                    <th>sat</th>
                    <th>gre</th>
                    <th>gmat</th>
                    <th>pte</th>
                    <th>priority_country</th>
                    <th>remarks</th> -->
                    <th>created_date</th>
                  </tr>
                  </thead>
                  <tbody>
                  	{% if eligibilities %}
	                  	{% for data in eligibilities %}
	                  		<tr>
          								<td>{{ data.name }}</td>
          								<td>{{ data.email }}</td>
          								<td>{{ data.address }}</td>
          								<td>{{ data.phone }}</td>
                         <!-- <td>{{ data.qualification }}</td>
                          <td>{{ data.ielts }}</td>
                          <td>{{ data.toefl }}</td>
                          <td>{{ data.sat }}</td>
                          <td>{{ data.gre }}</td>
                          <td>{{ data.gmat }}</td>
                          <td>{{ data.pte }}</td>
                          <td>{{ data.priority_country }}</td>
                          <td>{{ data.remarks }}</td>  
                           --><td>{{ data.created_date }}</td>
                          <td><a href="{% url 'full_eligibility' data.id %}">See Full Detail</a></td> 
								        </tr>
	                  	{% endfor %}
	                {% else %}
						<td>No Data</td>
					{% endif %}
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <!-- <div class="box-footer clearfix">
              <a href="{% url 'user_add' %}" class="btn btn-sm btn-info btn-flat pull-left">Add New User</a>
            </div> -->
            <!-- /.box-footer -->
          </div>
{% endblock %}