{% extends 'core/base.html' %}

{% block title %}Events | Nima {% endblock %}

{% load static %}
{% block content %}
    {% for event in events %}
    	  {% if forloop.first %}<div class="row">{% endif %}
            <section class='col-lg-4'>
                <div class="box box-solid bg-black-gradient">
                      <div class="box-header ui-sortable-handle" style="cursor: move;">
                        <h3 class="box-title">{{event.name}}</h3>
                        <div class="box-tools pull-right">
                          <a href="{% url 'update_event' event.id %}"><button type="button" class="btn bg-black btn-sm"><i class="fa fa-pencil"></i>
                          </button></a>
                          <a href="{% url 'delete_event' event.id %}"><button type="button" class="btn bg-black btn-sm"><i class="fa fa-trash"></i>
                          </button></a>
                          <a href="{% url 'send_email' event.id %}"><button type="button" class="btn bg-black btn-sm"><i class="fa fa-share"></i>
                          </button></a>
                        </div>
                      </div>
                      <div class="box-body border-radius-none">
                          <img src="{{event.picture.url}}" style="height:100%; width:100%; overflow:hidden; position:relative;">
                      </div>
                      <!-- /.box-body -->
                      <div class="box-footer no-border">
                        <div class="row">
                          <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                       <div style="display:inline;width:60px;height:60px; color:black;">
                            <p>Rs. {{event.price}}</p>
                          </div>
                            <div class="knob-label">Price</div>
                          </div>
                          <!-- ./col -->
                          <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                            <div style="display:inline;width:60px;height:60px; color:black;">
                            <p>{{event.organized_by}}</p>
                          </div>
                        <div class="knob-label">Organized By</div>
                          </div>
                          <!-- ./col -->
                          <div class="col-xs-4 text-center">
                          <div style="display:inline;width:60px;height:60px; color:black;">
                            <p>{{event.time}}-{{event.date}}</p>
                          </div>
                          <div class="knob-label">Date</div>
                        </div>
                          <!-- ./col -->
                        }
                        }
                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.box-footer -->
                    </div>  
              </section>

        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}
{% endblock %}