{% extends 'core/base_naked.html' %}

{% block title %}Invitation for {{ event.title }}{% endblock %}


{% block head %}
  <meta property="og:url"           content="{{BASE_URL}}/create/{{event.id}}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{event.title}}" />
  <meta property="og:description"   content="{{event.description}}" />
  <meta property="og:image"         content="{{BASE_URL}}/event/{{event.id}}" />
{% endblock %}


{% block content %}
  <style type="text/css">
    *{
      color: white;
    }
  </style>
  <div class="row">
    <div class="container">
      <img src="{{event.picture.url}}" height="300px" width="100%">
      <br><br>
      
      <p>Event Time and Date: {{event.time}} - {{event.date}}</p>
      <p>Location: {{event.location}}</p>

      <h1>Title: {{event.name}}</h1>
      <p><strong>Description:</strong> {{event.description}}</p>
      
    </div>
  </div>
{% endblock %}