{% extends 'core/base.html' %}

{% block title %}Events | Nimas {% endblock %}

{% load static %}

{% block styles %}
  <style type="text/css">
    .modal-body > p {
      color: black;
    }
    .modal-header > h4 {
      color: black;
    }
    .box.box-solid>.box-header>.box-tools .btn{
      padding-left: 2em;
      padding-right: 2em;
    }
  </style>
{% endblock %}



{% block content %}
    {% for event in events %}
    	  {% if forloop.first %}<div class="row">{% endif %}
            <section class='col-lg-4'>
                <div class="box box-solid bg-black-gradient">
                      <div class="box-header ui-sortable-handle" style="cursor: move;">
                        <h3 class="box-title">{{event.name}}</h3>
                        <div class="box-tools pull-right">
                          <a href="#"><button type="button" class="btn bg-black btn-sm" data-toggle="modal" data-target="#modal-{{event.id}}"><i class="fa fa-share-alt"></i></button></a>
                          <!--Modal -->
                          <div class="modal fade" id="modal-{{event.id}}" style="display: none;">
                            <div class="modal-dialog">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span></button>
                                  <h4 class="modal-title">Share this Event</h4>
                                </div>
                                <div class="modal-body">
                                  <p>Share this event details to extend your reach</p>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                                  
                                  <button type="button" class="btn bg-black btn-lg"><a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Attend the event {{ event.name }} organized by {{event.organizer}} on {{event.date}}, {{event.time}} at {{event.location}}&amp;url={{BASE_URL}}/event/{{event.id}}"><i class="fa fa-twitter"></i></a></button> 
                                  <div class="fb-share-button" data-href="http://localhost:8000/event/1" data-layout="button" data-size="large" data-mobile-iframe="true" style="display:inline;"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{BASE_URL}}/event/{{event.id}}&amp;src=sdkpreparse"><button type="button" class="btn bg-black btn-lg"><i class="fa fa-facebook"></i></button></a></div>
                                  <!-- <button type="button" class="btn bg-black btn-lg"><i class="fa fa-google-plus"></i></button> -->
                                </div>
                              </div>
                              <!-- /.modal-content -->
                            </div>
                            <!-- /.modal-dialog -->
                          </div>
                          <!--modal end-->
                          <a href="{% url 'update_event' event.id %}"><button type="button" class="btn bg-black btn-sm"><i class="fa fa-pencil"></i>
                          </button></a>
                          <a href="{% url 'delete_event' event.id %}"><button type="button" class="btn bg-black btn-sm"><i class="fa fa-trash"></i>
                          </button></a>
                          <a href="{% url 'send_email' event.id %}"><button type="button" class="btn bg-black btn-sm"><i class="fa fa-share"></i>
                          </button></a>
                        </div>
                      </div>
                      <div class="box-body border-radius-none">
                          <img src="{{event.picture.url}}" style="height:100%; width:100%; overflow:hidden; position:relative;">
                      </div>
                      <!-- /.box-body -->
                      <div class="box-footer no-border">
                        <div class="row">
                          <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                       <div style="display:inline;width:60px;height:60px; color:black;">
                            <p>Rs. {{event.price}}</p>
                          </div>
                            <div class="knob-label">Price</div>
                          </div>
                          <!-- ./col -->
                          <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                            <div style="display:inline;width:60px;height:60px; color:black;">
                            <p>{{event.organized_by}}</p>
                          </div>
                        <div class="knob-label">Organized By</div>
                          </div>
                          <!-- ./col -->
                          <div class="col-xs-4 text-center">
                          <div style="display:inline;width:60px;height:60px; color:black;">
                            <p>{{event.time}}-{{event.date}}</p>
                          </div>
                          <div class="knob-label">Date</div>
                        </div>
                          <!-- ./col -->
                        }
                        }
                        </div>
                        <!-- /.row -->
                      </div>
                      <!-- /.box-footer -->
                    </div>  
              </section>

        {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
        {% if forloop.last %}</div>{% endif %}
    {% endfor %}

{% block scripts %}
  <script type="text/javascript">
    $(document).ready(function() {
      $.ajaxSetup({ cache: true });
      $.getScript('https://connect.facebook.net/en_US/sdk.js', function(){
        FB.init({
          appId: '148365965741990',
          version: 'v2.7' // or v2.1, v2.2, v2.3, ...
        });     
        $('#loginbutton,#feedbutton').removeAttr('disabled');
        FB.getLoginStatus(updateStatusCallback);
      });
    });

    document.getElementById('shareBtn').onclick = function() {
      FB.ui({
        method: 'share',
        display: 'popup',
        href: 'https://developers.facebook.com/docs/',
      }, function(response){});
    }
  </script>
{% endblock %}

{% endblock %}